@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --accent: #4ec6b0;
  --accent-dark: #2f7b6f;
  --darkest: #111;
  --vdark: #1a1a1a;
  --darker: #222;
  --dark: #333;
  --med: #444;
  --light: #666;
  --vlight: #999;
}

[x-cloak] {
  display: none !important;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--vdark);
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

canvas {
  background-color: black;
  margin: 0 auto;
}

nav {
  background-color: var(--dark);
  width: 18vw;
  min-width: 190px;
  overflow-y: auto;
}

.gone {
  display: none;
  visibility: hidden;
}

section {
  font-family: 'Comfortaa', sans-serif;
  display: flex;
  flex-direction: column;
  border-bottom: 0.2rem solid var(--light);
}

section b {
  font-size: 1rem;
  padding: 0.3rem;
  display: block;
  background-color: var(--med);
  cursor: pointer;
  color: var(--vlight);
}

form {
  font-family: 'Comfortaa', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-bottom: 1.2rem;
}

select {
  font-family: 'Comfortaa', sans-serif;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.3rem;
  background-color: var(--darkest);
  color: var(--accent);
  border: none;
}

.nav-sizer {
  width: 0.2rem;
  min-width: 0.2rem;
  max-width: 0.2rem;
  background-color: var(--light);
  cursor: ew-resize;
}

aside {
  background-color: black;
  font-size: calc(1.5rem + 0.7vw);
  padding: 2rem;
  margin: 0 auto;
  border: 0.2rem solid var(--med);
  border-radius: 1rem;
  color: var(--med);
  width: 30vw;
  text-align: center;
  cursor: pointer;
}

aside:hover {
  background-color: var(--darker);
  color: var(--vlight);
}

aside h2 {
  font-size: calc(2.2rem + 0.9vw);
  margin: 0.8rem 1rem;
  color: var(--accent-dark);
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  background-color: black;
  color: var(--vlight);
  padding: 0.5rem;
  text-align: center;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

button {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--darker);
  color: var(--light);
  border: none;
  padding: 0.5rem;
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
}

dialog {
  background-color: var(--dark);
  color: var(--vlight);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--med);
  width: 30vw;
  max-width: 500px;
  top: 20%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}

button:hover {
  background-color: var(--vdark);
  color: var(--accent);
}

.tiny {
  padding: 0px 4px;
  float: right;
}

input[type='file']::file-selector-button {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--med);
  color: var(--vlight);
  margin: 0;
  padding: 0.4rem;
  border: 0;
  border-style: none;
  margin-right: 1rem;
  border-radius: 0.2rem;
}
input[type='file']::file-selector-button:hover {
  background-color: var(--light);
}
input[type='file'] {
  font-family: 'Comfortaa', sans-serif;
}

input[type='file'] {
  display: none;
}

input[type='range'] {
  width: 100%;
  margin-bottom: 0.5rem;
}

input[type='color'] {
  width: 100%;
  border: 0;
  margin-bottom: 0.5rem;
  cursor: pointer;
  inline-size: 100%;
  block-size: 20px;
  border: 0 solid black;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--darkest);
  height: 1rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3px;
  height: 1rem;
  border-radius: 0%;
  background-color: var(--vlight);
  cursor: pointer;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
  margin: 0;
}
::-webkit-color-swatch {
  padding: 0;
  margin: 0;
}

label {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  color: var(--accent);
}

textarea {
  width: 98%;
  height: 50px;
  background-color: var(--darkest);
  color: var(--vlight);
  border: none;
  padding: 0.2rem;
  font-family: 'Consolas', sans-serif;
}
