:root {
  --accent: #4ec6b0;
  --vdark: #1a1a1a;
  --darker: #222;
  --dark: #333;
  --med: #444;
  --light: #666;
  --vlight: #999;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--vdark);
  color: #ddd;
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas {
  background-color: rgb(12, 133, 180);
  width: 100%;
}

nav {
  background-color: var(--dark);
  max-width: 18rem;
  min-width: 18rem;
  width: 18rem;
}

section {
  display: flex;
  flex-direction: column;
  border-bottom: 0.2rem solid var(--light);
}

section b {
  font-size: 1.1em;
  padding: 0.3rem;
  display: block;
  background-color: var(--med);
}

form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-bottom: 1.2rem;
}

select {
  font-size: 0.9rem;
  width: 100%;
  padding: 0.3rem;
  background-color: #222;
  color: var(--accent);
  border: none;
}

.m1 {
  margin: 0.5rem;
}

.m2 {
  margin: 1rem;
}

.m3 {
  margin: 1.5rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

button {
  background-color: var(--darker);
  color: var(--light);
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: var(--vdark);
}

.w100 {
  width: 100%;
}

input[type='file']::file-selector-button {
  background-color: var(--med);
  color: var(--vlight);
  margin: 0;
  padding: 0.4rem;
  border: 0;
  border-style: none;
  margin-right: 1rem;
  border-radius: 0.2rem;
}
input[type='file']::file-selector-button:hover {
  background-color: var(--light);
}

nav {
  overflow-y: auto;
}
